body {

			font-family: sans-serif;
		}

		.input-container {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 10px;
			padding-bottom: 15px;
			overflow: hidden;
		}

		input[type=text], 
		textarea,
		input[type=email],
		select {

			padding: 5px;
			display: block;
			border: 1px solid gray;
			width: 70%;
			box-sizing: border-box;
			transition: all 0.3s ease-out;
		}

		label.input-container {

			width: 30%;
			box-sizing: border-box;
		}

		.feedback {
			float: left;
			width: 100%;
			padding: 5px;
			display: none;
			font-size: 12px;
		}
		.has-success input[type=text],
		.has-success input[type=email],
		.has-success input[type=password],
		.has-success textarea {
			border: 1px solid green;
			background: lightgreen;
		} 


		/*Error Styles*/

		.has-error .input-label {
			color:red;
		}

		.has-error input[type=text],
		.has-error input[type=email],
		.has-error textarea {
			border: 1px solid red;
			background: pink;
		} 

		.has-error .feedback {
			color:red;
			background: pink;
		}

