body, html{width: 100%;height: 100%;padding: 0px;margin: 0px; min-height: 100%}
html {box-sizing: border-box;}

.header,.navbar {
  background-color: #ffa31a
}

/*Hamburger Menu*/
.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.mobilenav {z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px; display: none; top: 50px}
.mobilenav {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.mobilenav li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.mobilenav li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.mobilenav ul li a { text-decoration:none;  margin: 0px; color:#666;}
.mobilenav ul li a:hover {  color: #666; text-decoration:none;}
.mobilenav a{text-decoration:none; color:#666;}
.mobilenav a:hover{text-decoration:none; color:#666;}

/*Hamburger Menu*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  position: relative;
  background-color: white;
  margin: 0
}

.section1 {
  background-color: white
}

.section2 {
  background-color: #f0f0f0
}

h1 {
  text-align: center
}
.contacthead {
  text-align: center;
}
.title,.subtitle {
  color: white;
  text-align: center
}
p {
  font-size: 20px;
}

.navbar {
top: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 1;
}
.navbar {
  box-shadow: 0px 4px 1px #e68a00
}

.socialmediabtn {
text-align: center;
}

.foot {
padding-top: 20px;
padding-bottom: 15px;
background-color: #ffa31a;
width: 100%;
height: 200px;
right: 0;
left: 0;
bottom: 0;
text-align: center;
}
.section1,.section2 {
margin-top: 0px;
margin-bottom: 0px;
padding-top: 15px;
padding-bottom: 15px
}

/*Social Media Buttons*/
.fa {
  padding-left: 19px;
  padding-right: 33px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
/*Social Media Buttons*/

/*Minimum 480px*/
@media only screen and (min-width: 480px) {
  .bar1,.bar2,.bar3 {
    display: none;
  }
  .img2 {
  float: right;
  width: 250px;
  height: 250px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.img3 {
  float: left;
  width: 350px;
  height: 250px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.bannerimage {
  max-width: 100%;
  width: 100%;
  background-image: url("images/Bird_Header_Picture.jpeg");
  height: 100px;
  background-position: center;
  background-color: #f5f5f5;
  margin-top: 0;
  box-shadow:0px 4px 1px #e68a00; 
}
}
/*Minimum 480px*/

/*Mininmum 480px (for mobile)*/
@media only screen and (min-width: 480px){
.navbutton {
  font-family: 'Raleway', sans-serif;
  background-color: #ffa31a;
  border: none;
  color: white;
  padding: 14px 51.3px; 
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  float: left;
  }

.navbutton {
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s
}

.navbutton:hover {
background-color: white;
color: black
}
.navbuttonmobile {
  display: none;
}
}
/*Minimum 480px (for mobile)*/

.heading1,.heading2,.title,.contacthead {
  font-family: '2-Questa_Regular'
}
/*Maximum 480px*/
@media only screen and (max-width: 480px){
  .navbutton {
    display: none;
  }
  .hamburgernav 
  {position: absolute;
    background-color: #ffa31a;
    top: 5px;
    right: 10px;
  }

.content1,.section2content1,.section2content2 {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.content1title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.img2,.img3 {
  height:auto;
  width: 100%;
}
.bannerimage {
  max-width: 100%;
  width: 100%;
  background-image: url("images/Bird_Header_Picture.jpeg");
  height: auto;
  background-position: center;
  background-color: #f5f5f5;
  margin-top: 0;
  box-shadow:0px 4px 1px #e68a00;
}
.heading2,.heading1 {
  margin-left: auto;
  margin-right: auto;
}

}
/*Maximum 480px*/


/*Minimum 768px*/
@media only screen and (min-width: 768px){
.content1,.section2content1,.section2content2 {
margin-left: 75px;
margin-right: 75px
}
.content1title {
text-align: left;
 margin-left: 75px
}
.heading2,.heading1 {
  text-align: left;
  margin-left: 75px;
}
.namefield,.emailfield,.contactbox,.moreinfo,.newsletterinfo,.submitbtn {
  margin-left: 75px;
  margin-bottom: 20px
}
.input-container {
  margin-left: 75px;
}
}
/*Minimum 768px*/

/*Maximum 768px*/
@media only screen and (max-width: 768px) {
  .content1,.section2content2,.section2content1,.input-container {margin-left: 20px; margin-right: 10px}
}

/*Maximum 768px*/




/*CONTACT PAGE STYLING*/
.submitbtn1 {
    background-color: #ffa31a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.submitbtn {
  text-align: center;
  margin-right: 25%;
  padding-bottom: 20px;
  padding-left: 30px;
}
.submitbtn1 {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.submitbtn1:hover {
    background-color: white;
    color: black;
    border: 2px solid #ffa31a;
}
.contacthead {
  margin-left: auto;
  margin-right: 20%;
  padding-left: 30px;
}
.input-label,.label-text,.subtitle,.input-container {
  font-family: 'Raleway', sans-serif;
}
/*CONTACT PAGE STYLING*/


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.imgcontainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0%;
  border-radius: 15px 15px 15px 15px;
  padding-left: 5%;
}
.prev {
  left: 0%;
  border-radius: 15px 15px 15px 15px;
  padding-right: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 15%;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.imgcontainer {
  background-color: #222;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

